.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 120px;
    height: 180px;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
}

.blank {
    border: 1px solid rgba(153, 153, 153, 0);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
}


.card.hidden {
    background-image: url('../../../images/card-back-black.png');
    background-size: cover;
}

.corner {
    display: flex;
    align-items: center;
    font-size: 30px;
    padding: 0px 10px;
}

.suit-hearts {
    color: red;
}

.suit-diamonds {
    color: red;
}

.suit-spades {
    color: black;
}

.suit-clubs {
    color: black;
}

.top-left {
    transform: rotate(0deg);
}

.bottom-right {
    transform: rotate(-180deg);
}

.value {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}


:root {
    --hand-position-x: 0;
    --hand-position-y: 0;
}

.card-passing-animation {
    z-index: 1;
    animation-name: card-passing;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes card-passing {
    to {
        transform: translateX(var(--hand-position-x)) translateY(var(--hand-position-y));
        opacity: 0.7;
        filter: blur(1px);
    }
}
