:root {
    --card-size: 0.7;
}

@media only screen and (min-height: 500px) and (max-width: 700px)  {
    :root {
        --card-size: 0.3;
    }
}

@media only screen and (min-height: 600px) {
    :root {
        --card-size: 0.5;
    }
}

@media only screen and (min-height: 700px) {
    :root {
        --card-size: 0.7;
    }
}

@media only screen and (min-height: 800px) {
    :root {
        --card-size: 0.9;
    }
}

@media only screen and (min-height: 900px) {
    :root {
        --card-size: 1.2;
    }
}

@media only screen and (min-height: 1000px) {
    :root {
        --card-size: 1.6;
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(80px * var(--card-size));
    height: calc(130px * var(--card-size));
    padding: 10px;
    border: 1px solid #999;
    border-radius: calc(10px * var(--card-size));
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    text-shadow: none;
}

.blank {
    border: 1px solid rgba(153, 153, 153, 0);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
}


.card.hidden {
    background-image: url('../../../images/card-back-black.png');
    background-size: cover;
    border: none;
    background-blend-mode: hard-light;
    background-repeat: round;
}

.corner {
    display: flex;
    align-items: center;
    font-size: calc(23px * var(--card-size));
    padding: 0px 3px;
}

.suit-hearts {
    color: red;
}

.suit-diamonds {
    color: red;
}

.suit-spades {
    color: black;
}

.suit-clubs {
    color: black;
}

.top-left {
    transform: rotate(0deg);
}

.bottom-right {
    transform: rotate(-180deg);
}

.value {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(50px * var(--card-size));
}


:root {
    --hand-position-x: 0;
    --hand-position-y: 0;
}

.card-passing-animation {
    z-index: 1;
    animation-name: card-passing;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes card-passing {
    to {
        transform: translateX(var(--hand-position-x)) translateY(var(--hand-position-y));
        opacity: 0.7;
    }
}
