.hand {
    display: flex;
    position: relative;
    justify-content: center;
    /*min-width: 343px;*/
    /*min-height: 203px;*/
}

.handContainer {
    display: flex;
    flex-direction: column;

    /*border: solid;*/
    border-radius: 10px;
    padding: 15px;
    /*min-height: 220px;*/

    margin: 0px 10px;
}

@media only screen and (max-width: 700px) {
    .handContainer {
        width: 80%;
    }

    .hand {
        width: 100%;
    }
}


.red {
    background-color: orangered;
}

.green {
    background-color: aquamarine;
}

.yellow {
    background-color: goldenrod;
}

.hand-score {
    display: flex;
    position: relative;
    flex-grow: 1;
}

