:root {
    --chips-size: 0.6;
}

.chips-container {
    display: flex;
    justify-content: center;
    /*flex-direction: column;*/
}

.chips-container .chip {
    position: absolute;
    display: flex;
    font-weight: bold;
    font-size: calc(26px * var(--chips-size));
    height: calc(90px * var(--chips-size));
    width: calc(90px * var(--chips-size));
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5), 0 0 4px 0 rgba(0, 0, 0, 0.27) inset;
    border: calc(7px * var(--chips-size)) dashed white;
    transition: all 0.6s;
    color: white;
    font-family: 'Lato', sans-serif;
    margin: calc(8px * var(--chips-size));;
}


.chips-container .chip span {
    position: absolute;
    border: calc(3px * var(--chips-size)) dashed white;
    height: calc(60px * var(--chips-size));
    width: calc(60px * var(--chips-size));
    border-radius: 50%;
    text-align: center;
    line-height: calc(60px * var(--chips-size));
}

.chips-container .chip-20 {
    background-color: #61dafb;
}

.chips-container .chip-50 {
    background-color: #04AA6D;
}

.chips-container .chip-100 {
    background-color: goldenrod;
}

.chips-container .chip-200 {
    background-color: crimson;
}

.chips-container .chip-500 {
    background-color: #92199a;
}

.chips-container .chip-1000 {
    background-color: #323acc;
    font-size: calc(20px * var(--chips-size));;
}

.chips-container .chip:disabled{
    background-color: #282c34;
    color: dimgrey;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5), 0 0 3px 0 rgba(0, 0, 0, 0.4) inset;
    border: calc(7px * var(--chips-size)) dashed rgba(255, 246, 222, 0.26);
}
.chips-container .chip:disabled span {
    border: 3px dashed rgba(255, 246, 222, 0.26);
}

/* .spin */
.chips-container .chip:enabled:after {
    content: "";
    background-color: rgba(255, 246, 222, 0.59);
    border-radius: 50%;
}
.chips-container .chip:enabled:hover:after {
    content: "";
    /*transform: rotate(360deg);*/
    background-color: rgba(125, 255, 0, 0.32);
    height: calc(90px * var(--chips-size));
    width: calc(90px * var(--chips-size));
    position: absolute;
    border-radius: 50%;
}

.chips-container .chip:enabled:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    transition: 0.1s;
}

.chip-outer {
    display: flex;
    border-radius: 50%;
    box-shadow: 0 9px #999;
    height: calc(90px * var(--chips-size));
    width: calc(90px * var(--chips-size));
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}



