.combination {
    background-image: url("../../../images/combination-bg.png");
    /*background-image: url("../../../images/combination-bust-bg.png");*/
    width: 100px;
    height: 100px;
    background-size: contain;
    position: absolute;
    translate: 80% -40%;
    display: flex;
    align-items: center;
    justify-content: center;
    rotate: 15deg;

    z-index: 1;
    font-weight: bold;
    font-size: 18px;
    color: #282c34;
    background-repeat: no-repeat;

    animation: fade-combo 0.4s linear;
}



.combo-Split {
    background-image: url("../../../images/combination-split.png");
}

.combo-BlackJack {
    background-image: url("../../../images/combination-bj.png");
}


.combo-NaturalBlackJack {
    background-image: url("../../../images/combination-nbj.png");
}

.combo-Bust {
    background-image: url("../../../images/combination-bust.png");
    color: #ffffff;
    height: 90px;
    width: 120px;
}

@keyframes fade-combo {
    0% {
        opacity: 0;
        rotate: 0deg;
    }
    100% {
        opacity: 1;
        rotate: 360deg;
    }
}