.message-text {
    color: crimson;
    font-size: 23px;
    margin: 0px;
}

.message-container {
    border-left: 4px solid #04AA6D;
    background: cornsilk;
    width: 600px;
    height: 30px;
    position: absolute;
}

