.player-hands-container {
    display: flex;
    width: fit-content;

    border: solid;
    padding: 15px;
}

.player-container {
    display: flex;
    width: fit-content;

    border: solid;
    padding: 15px;
}

.player-container h2 {
    border: solid;
    margin: 0;
}