.player-hands-container {
    display: flex;
    width: fit-content;

    border: solid;
    padding: 15px;
}

.player-container {
    display: flex;
    justify-content: space-between;

    width: 80%;
    min-width: 650px;
    max-width: 900px;
    padding: 15px;

    border: solid;
}
#dealer-container {
    min-width: 250px;
}

.player-container h2 {
    border: solid;
    margin: 0;
}

