.playerHandsContainer {
    display: flex;
    width: fit-content;

    border: solid;
    padding: 15px;
}

.playerContainer {
    display: flex;
    width: fit-content;

    border: solid;
    padding: 15px;
}