.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
}

body {
  background-image: url("./images/background-red.jpg");
  background-size: 300px;
  background-color: #110000;
  /*background-blend-mode: difference;*/
  backdrop-filter: blur(1px);
  background-position-y: 8px;
  font-family: 'Comics Deluxe', sans-serif;
  text-shadow: 1px 1px 2px #000000, 0 0 1em rgba(255, 255, 255, 0.24), 0 0 0.2em #ff0000;
  color: azure;
}

button {
  font-family: 'Comics Deluxe', sans-serif;
}


.top-main-container {
  display: flex;
  /*position: absolute;*/
  align-items: baseline;
  top: 20px;
  width: 100%;
}

.bottom-main-container {
  display: flex;
  /*position: absolute;*/
  bottom: 5px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  min-height: 330px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-height: 800px;
  justify-content: center;
  width: 80%;
  background-image: url("./images/background-red.jpg");
  background-size: 300px;
  background-color: #110000;
}

@media only screen and (max-width: 700px) {
  body {
    background-blend-mode: normal;
    backdrop-filter: none;
  }
  .main-container {
    min-height: 0px;
  }
  .top-main-container {
    width: 100%;
  }

  .bottom-main-container {
    /*position: absolute;*/
  }

  .hide-container {
    display: none;
  }

  .focus-container {
    position: relative;
  }
}
