:root {
    --total-score-scale: 1;
}

.score {
    /*position: absolute;*/
    translate: 0px -18px;
    left: 0px;
    width: 30px;
    height: 30px;
    line-height: 0px;
    /*background: #FFF3CE;*/
    background-image: url("../../../images/total-score-bg.png");
    background-size: contain;
    z-index: 1;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: #282c34;
    opacity: 1;
    text-shadow: none;
    animation: bounce 0.3s ease-in-out;
}

@media only screen and (max-width: 700px) {
    .score {
        translate: -28px 6px;
    }
}


.score :before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 3px solid rgba(255, 0, 0, 1);
    border-radius: 50%;
}

@keyframes bounce {
    0% {
        width: 30px;
        height: 30px;
        line-height: 0px;
        font-size: 15px;

    }
    50% {
        width: 60px;
        height: 60px;
        line-height: 10px;
        font-size: 25px;

    }
    100% {
        width: 30px;
        height: 30px;
        line-height: 0px;
        font-size: 15px;

    }
}